* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
	width: 100%;
}

.main-container {
    background-color: #3AA6B9;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    width: 90%;
}

.container {
    background-color: #FFD0D0;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
}