* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
	width: 100%;
}

.main-container {
    background-color: #3AA6B9;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 600px;
    padding: 20px;
    width: 90%;
}

.container {
    background-color: #FFD0D0;
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.container__information {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container__query {
    display: flex;
    flex-direction: column;
}